<html><head><title>Navigation</title></head><body><main>
<div>
<p><a href="https://us.etrade.com/home"><img src="https://cdn2.etrade.net/1/24122313450.0/aempros/content/dam/etrade/retail/en_US/icons/logos/etrade-from-morgan-stanley-ko-rgb.svg" alt="E*TRADE from Morgan Stanley">E*TRADE from Morgan Stanley</a></p>
</div>
<div>
<ul>
<li>
<p><a href="https://us.etrade.com/what-we-offer">Trading &amp; Investing</a></p>
<p><a href="/fragments/nav/mega-menus/trading-investing">Trading &amp; Investing</a></p>
</li>
<li>
<p><a href="https://us.etrade.com/bank">Banking</a></p>
<p><a href="/fragments/nav/mega-menus/banking">Banking</a></p>
</li>
<li>
<p><a href="https://us.etrade.com/planning">Planning &amp; Advice</a></p>
<p><a href="/fragments/nav/mega-menus/planning-advice">Planning &amp; Advice</a></p>
</li>
<li>
<p><a href="https://us.etrade.com/why-etrade">Why E*TRADE</a></p>
<p><a href="/fragments/nav/mega-menus/why-etrade">Why E*TRADE</a></p>
</li>
<li>
<p><a href="https://us.etrade.com/what-we-offer/pricing-and-rates">Pricing</a></p>
</li>
</ul>
</div>
<div>
<p><a href="https://express.etrade.com/etx/rtao/ma/account-category"><strong>Open an account</strong></a></p>
</div>
</main></body></html>
