<html><head><title>Navigation</title></head><body><main>
<div>
<p><a href="https://us.etrade.com/home"><img src="https://cdn2.etrade.net/1/24122313450.0/aempros/content/dam/etrade/retail/en_US/icons/logos/etrade-from-morgan-stanley-ko-rgb.svg" alt="E*TRADE from Morgan Stanley">E*TRADE from Morgan Stanley</a></p>
</div>
<div>
<div class="nav-flyout">
<div>
<div><a href="https://us.etrade.com/what-we-offer">Trading &amp; Investing</a></div>
<div>
<h3>Accounts</h3>
<ul>
<li><a href="https://us.etrade.com/what-we-offer/our-accounts/brokerage-account">Brokerage</a></li>
<li><a href="https://us.etrade.com/bank">Banking</a></li>
<li><a href="https://us.etrade.com/what-we-offer/our-accounts/retirement">Retirement</a></li>
</ul>
<p><a href="https://us.etrade.com/what-we-offer/our-accounts">More Accounts</a></p>
</div>
<div>
<h3>Platforms</h3>
<ul>
<li><a href="https://us.etrade.com/platforms#etrade">E*TRADE Platform</a></li>
<li><a href="https://us.etrade.com/platforms#power-etrade">Power E*TRADE Platform</a></li>
<li><a href="https://us.etrade.com/knowledge/library/platform-demos">Demos</a></li>
</ul>
</div>
<div>
<h3>Products</h3>
<ul>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/stocks">Stocks</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/options">Options</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/mutual-funds">Mutual Funds</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/etfs">ETFs</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/futures">Futures</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/bonds">Bonds</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/cryptocurrency">Cryptocurrency</a></li>
</ul>
</div>
</div>
<div>
<div><p><a href="https://us.etrade.com/what-we-offer">View all products</a></p></div>
</div>
</div>
<div class="nav-flyout">
<div>
<div><a href="https://us.etrade.com/bank">Banking</a></div>
<div>
<h3>Banking</h3>
<ul>
<li><a href="https://us.etrade.com/bank/premium-savings-account">Premium Savings Account</a></li>
<li><a href="https://us.etrade.com/bank/max-rate-checking">Max-Rate Checking</a></li>
<li><a href="https://us.etrade.com/bank/checking">Checking</a></li>
<li><a href="https://us.etrade.com/bank/certificate-of-deposit">Certificates of Deposit (CDs)</a></li>
<li><a href="https://us.etrade.com/bank/line-of-credit">Line of Credit</a></li>
</ul>
</div>
</div>
<div>
<div><p><a href="https://us.etrade.com/bank/premium-savings-account"><strong>Learn how</strong></a></p></div>
</div>
</div>
<div class="nav-flyout">
<div>
<div><a href="https://us.etrade.com/planning">Planning &amp; Advice</a></div>
<div>
<h3>Planning</h3>
<ul>
<li><a href="https://us.etrade.com/planning#tools">Tools</a></li>
<li><a href="https://us.etrade.com/planning#education">Education</a></li>
</ul>
</div>
<div>
<h3>Advice</h3>
<ul>
<li><a href="https://us.etrade.com/what-we-offer/our-accounts/core-portfolios">Automated Investing</a></li>
<li><a href="https://us.etrade.com/l/advice#msfa">Morgan Stanley Financial Advisors</a></li>
</ul>
</div>
</div>
<div>
<div><p><a href="https://us.etrade.com/planning">Explore planning tools</a></p></div>
</div>
</div>
<div class="nav-flyout">
<div>
<div><a href="https://us.etrade.com/why-etrade">Why E*TRADE</a></div>
<div>
<h3>What Sets Us Apart</h3>
<ul>
<li><a href="https://us.etrade.com/why-etrade#our-story">Our Story</a></li>
<li><a href="https://us.etrade.com/why-etrade#who-we-serve">Who We Serve</a></li>
<li><a href="https://us.etrade.com/l/awards-recognition">Awards and Recognition</a></li>
<li><a href="https://us.etrade.com/knowledge/knowledge-center">Education</a></li>
</ul>
</div>
</div>
<div>
<div><p><a href="https://us.etrade.com/knowledge/library/morgan-stanley"><strong>View library</strong></a></p></div>
</div>
</div>
<div class="nav-flyout">
<div>
<div><a href="https://us.etrade.com/what-we-offer/pricing-and-rates">Pricing</a></div>
</div>
</div>
</div>
<div>
<p><a href="https://express.etrade.com/etx/rtao/ma/account-category"><strong>Open an account</strong></a></p>
</div>
</main></body></html>
