<html><head><title>Planning &amp; Advice</title></head><body><main>
<div>
<h3>Planning</h3>
<ul>
<li><a href="https://us.etrade.com/planning#tools">Tools</a></li>
<li><a href="https://us.etrade.com/planning#education">Education</a></li>
</ul>
</div>
<div>
<h3>Advice</h3>
<ul>
<li><a href="https://us.etrade.com/what-we-offer/our-accounts/core-portfolios">Automated Investing</a></li>
<li><a href="https://us.etrade.com/l/advice#msfa">Morgan Stanley Financial Advisors</a></li>
</ul>
</div>
</main></body></html>
