<html><head><title>Trading &amp; Investing</title></head><body><main>
<div>
<h3>Accounts</h3>
<ul>
<li><a href="https://us.etrade.com/what-we-offer/our-accounts/brokerage-account">Brokerage</a></li>
<li><a href="https://us.etrade.com/bank">Banking</a></li>
<li><a href="https://us.etrade.com/what-we-offer/our-accounts/retirement">Retirement</a></li>
</ul>
<p><a href="https://us.etrade.com/what-we-offer/our-accounts">More Accounts</a></p>
</div>
<div>
<h3>Platforms</h3>
<ul>
<li><a href="https://us.etrade.com/platforms#etrade">E*TRADE Platform</a></li>
<li><a href="https://us.etrade.com/platforms#power-etrade">Power E*TRADE Platform</a></li>
<li><a href="https://us.etrade.com/knowledge/library/platform-demos">Demos</a></li>
</ul>
</div>
<div>
<h3>Products</h3>
<ul>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/stocks">Stocks</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/options">Options</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/mutual-funds">Mutual Funds</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/etfs">ETFs</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/futures">Futures</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/bonds">Bonds</a></li>
<li><a href="https://us.etrade.com/what-we-offer/investment-choices/cryptocurrency">Cryptocurrency</a></li>
</ul>
</div>
</main></body></html>
