<html><head><title>Why E*TRADE</title></head><body><main>
<div>
<h3>What Sets Us Apart</h3>
<ul>
<li><a href="https://us.etrade.com/why-etrade#our-story">Our Story</a></li>
<li><a href="https://us.etrade.com/why-etrade#who-we-serve">Who We Serve</a></li>
<li><a href="https://us.etrade.com/l/awards-recognition">Awards and Recognition</a></li>
<li><a href="https://us.etrade.com/knowledge/knowledge-center">Education</a></li>
</ul>
</div>
<div>
<p><a href="https://us.etrade.com/knowledge/library/morgan-stanley"><strong>View library</strong></a></p>
</div>
</main></body></html>
